# Entornos virtuales
venv/
.venv/

# Variables de entorno y credenciales
.env
credentials/*.json
token.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Audios temporales
*.mp3
*.wav
!tests/**/*.wav